[TELEGRAM]
bot_token = 12345:abcdefghikl
command_prefix = /
bot_username = @fadhil_riyanto_bot

[DEBUG]
enable_all_log = true
show_startup_ini_config = true
enable_command_debug_log = true
enable_pool_start_log = true
enable_thread_queue_debug = true
enable_on_create_thread_event = true
enable_on_joined_thread_event = true
enable_thread_bug_log = true
enable_log_when_module_called = true
enable_tg_input_logs = true

[RUNTIME]
queue_depth = 100
queue_eventloop_sleep_ms = 100

[DATABASE]
mongodb_conn_string = mongodb://localhost:27017
mongodb_db_target = fadhil_riyanto_bot_db